.client-list {
    display: flex;
    justify-content: center;

    & .client-item + .client-item {
        margin-left: 30px;
    }
}

.client-list-link {
    display: flex;
    width: 170px;
    height: 92px;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--fill-color);
    border-radius: 4px;
   
    transition: border-color var(--time-duration) var(--timing-function);

    &:hover,
    &:focus {
        border-color: var(--brand-color);
    }
}

.client-list-icon {
    fill: var(--fill-color);
    transition: fill var(--time-duration) var(--timing-function);

    .client-list-link:hover &,
    .client-list-link:focus & {
        fill: var(--brand-color);    
    }
}



