.main-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    margin-left: 93px;
}

.menu .item + .item {
    margin-left: 50px;
}

.menu .link.current {
    color: var(--brand-color);
}

.menu .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    
    color: var(--title-color); 
}

.connect {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.connect-link {
    display: flex;
    align-items: center;
}

.connect .item + .item {
    margin-left: 50px;
}

.connect .link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    color: var(--text-color);
}

.envelope-icon-header,
.tel-icon-header {
    margin-right: 10px;
    fill: var(--text-color);
}

.menu a,
.connect a{
    transition: color var(--time-duration) var(--timing-function);
}
 
.menu a:hover,
.menu a:focus,
.connect a:hover,
.connect a:focus {
    color: var(--brand-color);
}

.link .envelope-icon-header, 
.link .tel-icon-header{
    transition: fill var(--time-duration) var(--timing-function);
}

.link:hover .envelope-icon-header,
.link:focus .envelope-icon-header, 
.link:hover .tel-icon-header,
.link:focus .tel-icon-header {
    fill: var(--brand-color);
}

.top-site {
    border-bottom: 1px solid #ECECEC;
}