.main-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    margin-left: 93px;

    & .item + .item {
        margin-left: 50px;
    }

    & .link.current {
        color: var(--brand-color);
    }

    & .link{
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        
        color: var(--title-color); 
    }

    & a {
        transition: color var(--time-duration) var(--timing-function);
    }

    & a:hover,
    & a:focus {
        color: var(--brand-color);
    }
}

.connect {
    display: flex;
    align-items: center;
    margin-left: auto;

    & .item + .item {
        margin-left: 50px;
    }

    & .link{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
    
        color: var(--text-color);
    }

    & a{
        transition: color var(--time-duration) var(--timing-function);
    }

    & a:hover,
    & a:focus {
        color: var(--brand-color);
    }
}

.connect-link {
    display: flex;
    align-items: center;
}

.envelope-icon-header {
    margin-right: 10px;
    fill: var(--text-color);

    .link & {
        transition: fill var(--time-duration) var(--timing-function);
    }

    .link:hover &,
    .link:focus & {
        fill: var(--brand-color);
    }
}


.tel-icon-header {
    margin-right: 10px;
    fill: var(--text-color);

    .link & {
        transition: fill var(--time-duration) var(--timing-function);
    }

    .link:hover &,
    .link:focus & {
        fill: var(--brand-color);
    }
}

.top-site {
    border-bottom: 1px solid #ECECEC;
}